body,
html {
    height: 100%;
    margin: 0;
}

/* Ajoutez ceci si ce n'est pas déjà fait, ajustez les couleurs selon vos préférences */
#executeBtn,
#previewSqlBtn {
    transition: background-color 0.3s ease;
}

#executeBtn.inactive,
#previewSqlBtn.inactive {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

#executeBtn.active,
#previewSqlBtn.active {
    background-color: red;
    color: white;
    cursor: pointer;
}



/* Ajoutez ces styles pour la bande blanche qui affiche le code SQL */
.sql-code-display {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
    display: none;
    /* Initialement caché */
}

.sql-code-display h2 {
    margin-top: 0;
}

.sql-code-display pre {
    white-space: pre-wrap;
}